{% extends 'base.html' %}
{% load static %}

{% block title %}Cupcake{% endblock %}

{% block content %}
<section class="producto" id="producto">
    <div class="main-text">
        <h2>Cupcake Personalizados</h2>
    </div>

    <div class="menu-content">
        <div class="row">
            <img src="{% static 'img/cup1.jpeg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Cupcake</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div> 
        <div class="row">
            <img src="{% static 'img/cup1.jpeg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Cupcake</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div> 
        <div class="row">
            <img src="{% static 'img/cup1.jpeg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Cupcake</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div> 
        <div class="row">
            <img src="{% static 'img/cup1.jpeg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Cupcake</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div>
    </div>   
</section>
{% endblock %}
