{% extends 'base.html' %}
{% load static %}

{% block title %}direccion{% endblock %}

{% block body_class %}fondo-index{% endblock %}



{% block content %}
    <div class="contenedordir">
        <div class="mapa-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d214043.71558128353!2d-71.544138!3d-33.045064!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689df007c9aa0b3%3A0xcd3c1f6090897f27!2sForestal!5e0!3m2!1ses!2scl!4v1719717395805!5m2!1ses!2scl" 
            width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>  
        <div class="titulo-direccion">
            <h1 >¿Cómo encontrarnos?</h1>
            <div class="horizontal"></div>

            <ul>
                <li><p>Serena 109 forestal sur, Viña del Mar.</p></li>
                <li><p>+569 9958 3906</p></li>
                <li><p>Lunes a sabado: 9:00 a 19:00 Hrs.</p></li>
                <li><p>Domingo: 9:00 a 14:00 Hrs.</p></li>     
            </ul>
            <div class="horizontal"></div>
            <p class="tex" >Actualmente solo es posible retirar los productos en nuestro domicilio.
                Agradecemos su comprensión y colaboración en este aspecto.
                Para cualquier consulta adicional o para coordinar el retiro, 
                no dude en ponerse en contacto con nosotros. Estamos a su disposición 
                para ayudarle en lo que necesite.
            </p>
        </div>  
    </div>
{% endblock %}