{% extends "base.html" %}
{% load static %}

{% block title %}
    Foro
{% endblock %}

{% block content %}
    <div class="form-div"> 
        <div class="container titulo_form_top">
            <div class="titulo_form"><h1>Horario</h1> 
            </div> <div class="container titulo"></div>
        </div>
        <div class="horario-div">
            <table>
                <thead>
                    <tr>
                        <th style="text-align: left;">Día</th>
                        <th style="text-align: right;">Horardasdasddasdio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lunes</td>
                        <td>9:00 AM - 19:00 PM</td>
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td>9:00 AM - 19:00 PM</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td>9:00 AM - 19:00 PM</td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td>9:00 AM - 19:00 PM</td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td>9:00 AM - 19:00 PM</td>
                    </tr>
                    <tr>
                        <td>Sábado</td>
                        <td>9:00 PM - 19:00 PM</td>
                    </tr>
                    <tr>
                        <td>Domingo</td>
                        <td>9:00 PM - 14:00 PM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
