{% extends "base.html" %}

{% block title %} Detalle del Mensaje {% endblock %}

{% block content %}
<div class="container">
    <div style="text-align: center; margin-top: 30px; margin-bottom: 30px;"><h2>Detalle del Mensaje</h2></div>
    <p><strong>Nombre:</strong> {{ mensaje.nombre }}</p>
    <p><strong>Email:</strong> {{ mensaje.email }}</p>
    <p><strong>Asunto:</strong> {{ mensaje.asunto }}</p>
    <p><strong>Mensaje:</strong> {{ mensaje.mensaje }}</p>
    <p><strong>Fecha de Envío:</strong> {{ mensaje.fecha_envio }}</p>
    <a href="{% url 'mensajes' %}">Volver a la lista de mensajes</a>

    <form method="post" action="{% url 'eliminar_mensaje' mensaje.id %}" style="margin-top: 20px;" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este mensaje?');">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar Mensaje</button>
    </form>
</div>
{% endblock %}
