{% extends "base.html" %}
{% load static %}

{% block title %}
    Productos
{% endblock %}

{% block content %}
<section class="producto" id="producto">
    <div class="producto-text">
        <h2>Nuestros Productos</h2>
    </div>
    <div class="menu-content">
        {% for producto in productos %}
        <div class="card">
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            <div class="card-content">
                <h3>{{ producto.nombre }}</h3>
                <p>{{ producto.descripcion }}</p>
                <p class="price">Precio: ${{ producto.precio }}</p>
                <a href="{% url 'eliminar_producto' producto.id %}">Eliminar Producto</a>
            </div>
        </div>
        {% endfor %}
    
        <!-- Agregar más productos según sea necesario -->

    </div>
</section>
{% endblock %}