
<!-- tortas.html -->
{% extends "base.html" %}
{% load static %}

{% block title %} Tortas Personalizadas {% endblock %}

{% block content %}
<section class="producto" id="producto">
    <div class="main-text">
        <h2>Tortas personalizadas</h2>
    </div>
    <div class="menu-content">
        <div class="row">
            <img src="{% static 'img/tor1.jpeg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Torta</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div>
    
        <div class="row">
            <img src="{% static 'img/tor2.jpeg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Torta</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div>
    
        <div class="row">
            <img src="{% static 'img/tor3.jpg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Torta</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div>
    
        <div class="row">
            <img src="{% static 'img/tor4.jpg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Torta</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div>
    
        <div class="row">
            <img src="{% static 'img/tor5.jpeg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Torta</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div>
    
        <div class="row">
            <img src="{% static 'img/tor6.jpeg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Torta</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div>
    
        <div class="row">
            <img src="{% static 'img/tor7.JPG' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Torta</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div>
    
        <div class="row">
            <img src="{% static 'img/tor8.jpeg' %}" alt="main-product1">
            <div class="menu-text">
                <div class="menu-teft">
                    <h4>Torta</h4>
                </div>
                <div class="menu-right">
                    <h5>$99.999</h5>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem excepturi recusandae cum culpa veniam esse repudiandae animi quibusdam, pariatur harum?</p>
        </div>
    </div>
</section>
{% endblock %}
